body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(shutterstock_582803470.jpg?raw=true) no-repeat center center/cover;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e6bc6d;
    text-align: center;
    padding: 20px;
}

.container {
    width: 50%;
    margin: auto;
    background: rgb(173, 192, 229);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #6d3d18;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: #a7853f;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #d09161;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}
